/*-----------------------------------------------------------------------------------

 Description: The Multi-Purpose Onepage Template
 Author: VIPUL SHARMA
 Author URI: http://vipulism.com
 Version: 1.0

 Main Color   : #1A237E , #2576FD
 main Font    : Rubik

-----------------------------------------------------------------------------------*/
@import './theme'; 